<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{placeUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">О нас</a>
  <a href="{{placeUrl}}menu" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Меню</a>
  <a href="{{placeUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__photo">Фото</a>
  <a href="{{placeUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__comments">Отзывы</a>
  <a href="{{placeUrl}}complex" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Обеды</a>
  <a href="{{placeUrl}}tables" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Заказать столик</a>
</nav>

<section class="b-place">

  <div class="b-week-day">
	<div ng-class="{'b-week-day_btn__active': week.day == 1}" ng-click="week.day = 1;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Пн</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 2}" ng-click="week.day = 2;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Вт</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 3}" ng-click="week.day = 3;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Ср</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 4}" ng-click="week.day = 4;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Чт</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 5}" ng-click="week.day = 5;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Пт</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 6}" ng-click="week.day = 6;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Сб</div>
	<div ng-class="{'b-week-day_btn__active': week.day == 7}" ng-click="week.day = 7;" class="b-week-day_btn c-text__sz-avg c-text__al-center c-text__clr-black">Вс</div>
  </div>
  <div class="b-menu c-box-sz_bd-box" style="width: 100% !important;">
	<div class="b-menu_title c-text__sz-big c-text__al-center c-text__clr-black">Комплексные обеды</div>

	<div ng-repeat="dinner in complexDinnerPanel.dinnersList | filter:week" class="b-menu-item c-box-sz_bd-box c-text__sz-avg c-text__al-left c-text__clr-black">
	  <figure class="b-menu-item_img"><img class="c-icon__cover" src="//files.caffe.ru/files/complexDinner/{{dinner.id}}.jpg" alt=""></figure>
	  <div class="b-menu-item_desc">
		<div class="b-menu-item_desc-title" ng-bind="dinner.name"></div>
		<div class="b-menu-item_desc-content" ng-bind="dinner.description"></div>
	  </div>
	  <div class="b-menu-item_cost">
		<div class="b-menu-item_cost-title">Цена:</div>
		<div class="b-menu-item_cost-content c-text__st-bold" ng-bind="dinner.cost"></div>
	  </div>
	</div>
	<p ng-class="{visible: complexDinnerPanel.state.noData}" class="b-center-message c-text__al-center c-text__sz-avg">Нет комплексных обедов</p>
  </div>
</section>
