<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{placeUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">О нас</a>
  <a href="{{placeUrl}}menu" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Меню</a>
  <a href="{{placeUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__photo">Фото</a>
  <a href="{{placeUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__comments">Отзывы</a>
  <a href="{{placeUrl}}complex" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Обеды</a>
  <a href="{{placeUrl}}tables" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Заказать столик</a>
</nav>

<section class="b-res-table">
  <header class="b-res-table_title c-text__sz-big c-text__al-center c-text__clr-black">Забронировать столик в этом заведении</header>
  <section class="b-res-table_wrap">
	<div ng-click="tablePanel.prev()" class="b-res-table_btn c-icon_custom__arr-left"></div>
	<div class="b-res-table_deck" style="background: url('//files.caffe.ru/files/places/{{placeId}}/rooms/{{tablePanel.roomsList[tablePanel.currRoom].number}}/scheme.jpg') no-repeat center;">

	  <figure ng-click="tablePanel.table.reserve(table)" ng-repeat="table in tablePanel.tablesList" class="b-res-table_table" style="top: {{table.posY}}%; left: {{table.posX}}%; background: {{tablePanel.table.setBg(table.status)}}; z-index: {{table.id}};">
		{{table.type}}
	  </figure>
	</div>
  <div ng-click="tablePanel.next()" class="b-res-table_btn c-icon_custom__arr-right"></div>
  <p ng-class="{visible: reserveTablePanel.state.noComments}" class="b-center-message c-text__al-center c-text__sz-avg">Нет столиков</p>
  </section>
</section>
