<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{ownerUrl}}index" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">Главная</a>
  <a href="{{ownerUrl}}place" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Заведение</a>
</nav>

<nav class="b-top-nav">
  <a href="{{ownerUrl}}stat" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Статистика</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
  <a href="{{ownerUrl}}rooms" class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комнаты</a>
  </span>
  <a href="{{ownerUrl}}comments" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комментарии</a>
  <a href="{{ownerUrl}}photo" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Фото</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
  <a href="{{ownerUrl}}menu" dropdown-toggle class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Меню</a>
  <ul class="dropdown-menu">
    <a style="float:left; width: 100%;" href="{{ownerUrl}}menu">Управление меню</a>
    <a style="float:left; width: 100%;" href="{{ownerUrl}}complex">Комплексные обеды</a>
  </ul>
  </span>
</nav>

<section class="b-place">
<form class="b-create-dish c-text__sz-avg c-text__al-center">
  <label type="text" class="b-create-dish_label">Название блюда</label>
  <input ng-model="dish.name" type="text" class="b-create-dish_text">
  <label type="text" class="b-create-dish_label">Описание</label>
  <textarea ng-model="dish.description" type="text" class="b-create-dish_text"></textarea>
  <label type="text" class="b-create-dish_label">Цена</label>
  <input ng-model="dish.cost" type="text" class="b-create-dish_text">
  <label type="text" class="b-create-dish_label">Фото</label>
  <input file-model="dish.file" type="file" class="b-create-dish_text">
  <label type="text" class="b-create-dish_label">Категория</label>
  <select ng-model="dish.cat">
  <option ng-repeat="cat in catsList" value="{{cat.id}}">{{cat.name}}</option>
  </select>
  <input ng-click="dinnersPanel.addDinner(dish)" class="b-create-dish_submit" type="submit" value="Добавить блюдо">
</form>


<div class="b-menu c-box-sz_bd-box">

  <div ng-class="{hidden: menuPanel.state.noData}" class="b-menu_title c-text__sz-big c-text__al-center c-text__clr-black">Добавить в категорию</div>

  <form ng-class="{hidden: menuPanel.state.noData}">
  <label for="">Поиск</label>
  <input ng-change="searchPanel.search()" ng-model="search.query" type="text" placeholder="Поиск">
  </form>

<div ng-class="{hidden: menuPanel.state.noData}" ng-repeat="dish in searchPanel.dinnersList" class="b-menu-item c-box-sz_bd-box c-text__sz-avg c-text__al-left c-text__clr-black">
  <figure class="b-menu-item_img">
  <div class="b-menu-item_edit-field">
  <a class="b-menu-item_btn" ng-click="searchPanel.add(dish.id)">Добавить</a>
  </div><img class="c-icon__cover" src="//files.caffe.ru/files/dishs/{{dish.id}}.jpg"></figure>
  <div class="b-menu-item_desc">
  <div class="b-menu-item_desc-title" ng-bind="dish.name"></div>
  <div class="b-menu-item_desc-content" ng-bind="dish.description"></div>
  </div>
  <div class="b-menu-item_cost">
  <div class="b-menu-item_cost-title">Цена:</div>
  <div class="b-menu-item_cost-content c-text__st-bold" ng-bind="dish.cost"></div>
  </div>
  </div>


  <div ng-class="{hidden: dinnersPanel.state.noData}" class="b-menu_title c-text__sz-big c-text__al-center c-text__clr-black">Категория "{{catsList[dinnersPanel.currCat].name}}"</div>

  <div ng-repeat="dinner in dinnersPanel.dinnersList | filter:category" class="b-menu-item c-box-sz_bd-box c-text__sz-avg c-text__al-left c-text__clr-black">
  <figure class="b-menu-item_img c-icon__cover" style="background: url('//files.caffe.ru/files/dishs/{{dinner.id}}.jpg') no-repeat;background-size: cover;">
  <input type="file" file-model="dinner.preview">
  <div class="b-menu-item_edit-field">
  <a class="b-menu-item_btn" ng-click="dinnersPanel.deleteDinner(dinner.id)">Удалить</a>
    <br>
  <a class="b-menu-item_btn" ng-click="dinnersPanel.editDinner(dinner)">Изменить</a>
  </div>
  </figure>
  <div class="b-menu-item_desc">
  <input class="b-menu-item_desc-title" ng-model="dinner.name">
  <input class="b-menu-item_desc-content" ng-model="dinner.description">
  </div>
  <div class="b-menu-item_cost">
  <div class="b-menu-item_cost-title">Цена:</div>
  <input class="b-menu-item_cost-content c-text__st-bold" ng-model="dinner.cost">
  </div>
  </div>
</div>

  <section class="b-menu-cat c-box-sz_bd-box c-text__sz-avg c-text__al-center c-text__clr-white">
  <div ng-class="{hidden: menuPanel.state.noData}" class="b-menu-cat_title c-text__sz-big c-text__clr-black">Категории блюд</div>
  <div ng-repeat="cat in catsList" class="b-menu-cat_btn" ng-click="dinnersPanel.changeCat($index);">{{cat.name}}</div>
  </section>

</section>
