<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{ownerUrl}}index" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">На главную</a>
  <a href="{{ownerUrl}}place" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Заведение</a>
  <a href="{{ownerUrl}}rooms" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Комнаты</a>
  <a href="{{ownerUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Комментарии</a>
  <a href="{{ownerUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Фото</a>
</nav>

<section class="b-comment">
  <article ng-repeat="comment in commentsPanel.commentsList" class="b-comment_item">
    <div class="b-comment_uname c-box-sz_bd-box c-text__sz-big c-text__al-left c-text__clr-white">{{comment.firstName}} {{comment.lastName}}</div>
    <div class="b-comment_state c-text__sz-big c-text__al-center {{comment.state === '1' ? 'b-comment_state__like' : 'b-comment_state__dislike'}}">{{comment.state === '1' ? 'Понравилось' : 'Не понравилось'}}</div>
    <div class="c-clr_fix"></div>
    <div class="b-comment_text c-box-sz_bd-box c-text__sz-avg c-text__al-left c-text__clr-black">{{comment.text}}</div>
    <div class="b-comment_pub-date c-text__sz-avg c-text__al-right c-text__clr-black">{{comment.pubDate}}</div>
    <a ng-click="commentsPanel.deleteComment(comment.senderId)" class="b-comment_delete c-text__sz-avg c-text__al-left c-text__clr-black">Удалить</a>
  </article>
</section>