<form ng-init="searchFormCollapsed = true;" ng-class="{visible: searchFormCollapsed == false}" action="/search/1" class="b-pl-srh-drop-down c-box-sz_bd-box">
  <div class="b-pl-srh-drop-down_sect">
    <label for="wifi" class="b-pl-srh-drop-down_descr b-pl-srh-drop-down_descr__checkbox c-text__sz-avg c-text__al-left c-text__clr-white">WiFi</label>
    <input type="checkbox" name="wifi" class="b-pl-srh-drop-down_chkbx">
    <label for="countryside" class="b-pl-srh-drop-down_descr b-pl-srh-drop-down_descr__checkbox c-text__sz-avg c-text__al-left c-text__clr-white">За городом</label>
    <input type="checkbox" name="countryside" class="b-pl-srh-drop-down_chkbx">
    <label for="parking" class="b-pl-srh-drop-down_descr b-pl-srh-drop-down_descr__checkbox c-text__sz-avg c-text__al-left c-text__clr-white">Нужна парковка?</label>
    <input type="checkbox" name="parking" class="b-pl-srh-drop-down_chkbx">
    <label for="smoking" class="b-pl-srh-drop-down_descr b-pl-srh-drop-down_descr__checkbox c-text__sz-avg c-text__al-left c-text__clr-white">Зал для курящих</label>
    <input type="checkbox" name="smoking" class="b-pl-srh-drop-down_chkbx">
    <input type="submit" name="submit" class="b-pl-srh-drop-down_submit">
  </div>
  <div class="b-pl-srh-drop-down_sect">
    <label for="min-bill" class="b-pl-srh-drop-down_descr c-text__sz-avg c-text__al-left c-text__clr-white">Средний чек</label>
    <input type="text" name="min-bill" class="b-pl-srh-drop-down_text" placeholder="от">
    <input type="text" name="max-bill" class="b-pl-srh-drop-down_text" placeholder="до">
    <label for="type" class="b-pl-srh-drop-down_descr c-text__sz-avg c-text__al-left c-text__clr-white">Тип заведения</label>
    <select name="type" class="b-pl-srh-drop-down_select">
      <option value="Ресторан">Ресторан</option>
      <option value="Кафе">Кафе</option>
    </select>
    <label for="cuisine" class="b-pl-srh-drop-down_descr c-text__sz-avg c-text__al-left c-text__clr-white">Кухня</label>
    <select name="cuisine" class="b-pl-srh-drop-down_select">
      <option value="Итальянская">Итальянская</option>
      <option value="Французская">Французская</option>
    </select>  
  </div>
  <div class="c-clr_fix"></div>
</form>

<a href="#" ng-click="searchFormCollapsed = !searchFormCollapsed" class="b-pl-srh-drop-down-toggle-btn c-border_bottom__small c-box-sz_bd-box"></a>

<div class="b-pagination-wrap c-box-sz_bd-box text-center">
  <pagination class="pagination-centered" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalItems" ng-model="currentPage" ng-change="onPageChanged()"></pagination>
</div>
<div class="c-clr_fix"></div>

<article ng-repeat="PlacePreview in PlacePreviewsList" class="b-place-prev" style="background: url('//files.caffe.ru/{{PlacePreview.id}}/preview.jpg') no-repeat center;">
  <div class="b-place-prev_info">
    <div class="b-place-prev_title b-place-prev_field c-text__sz-big c-text__al-center c-text__clr-black c-box-sz_bd-box">{{PlacePreview.name}}</div>
    <div class="b-place-prev_wifi c-text__sz-vsml c-text__al-left c-text__clr-red right">{{(PlacePreview.wifi) ? 'WiFi' : '';}}</div>
    <div class="b-place-prev_separator"></div>
    <div class="b-place-prev_cuisine b-place-prev_field c-text__sz-avg c-text__al-left c-text__clr-black c-box-sz_bd-box">{{PlacePreview.cuisine}}</div>
    <div class="b-place-prev_phone b-place-prev_field c-text__sz-avg c-text__al-left c-text__clr-black c-box-sz_bd-box">{{PlacePreview.phones}}</div>
    <div class="b-place-prev_addr b-place-prev_field c-text__sz-avg c-text__al-left c-text__clr-black c-box-sz_bd-box">{{PlacePreview.address}}</div>
    <div class="b-place-prev_avg-bill b-place-prev_field c-text__sz-avg c-text__al-left c-text__clr-black c-box-sz_bd-box">{{PlacePreview.avgBill}}</div>
    <a href="place/{{PlacePreview.id}}/" class="b-place-prev_btn c-text__sz-avg c-text__al-center c-text__clr-white">Подробнее</a>
    <rating class="b-place-prev_rating" ng-model="PlacePreview.rating" max="5" state-on="'b-rating_star'" state-off="'b-rating_star__empty'"></rating>
    <div class="b-place-prev_type c-text__sz-avg c-text__al-right c-text__clr-gray">{{PlacePreview.type}}</div>
  </div>
  <div class="c-clr_fix"></div>
</article>

<div class="c-clr_fix"></div>
<div class="b-pagination-wrap c-box-sz_bd-box text-center">
  <pagination class="pagination-centered" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalItems" ng-model="currentPage" ng-change="onPageChanged()"></pagination>
</div>
