// text sizes
$txt_sz_big: 24px;
$txt_sz_avg: 19px;
$txt_sz_sml: 16px;
$txt_sz_vsml: 14px;

$txt_clr_black: #000;
$txt_clr_gray: rgba(0, 0, 0, .5);
$txt_clr_white: #fff;
$txt_clr_red: #c1221c;
$txt_clr_green: #189518;

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/myriadpro-regular.eot');
  src: local('myriadpro-regular'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype');
}
.c-text {
  color: #000;
  font-family: 'MyriadPro-Regular';
  font-size: 16px;
  font-weight: 100;
  font-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  o-text-sizfont-size-adjust: 100%;
  
  &__sz-big {
    font-size: $txt_sz_big;
  }
  
  &__sz-avg {
    font-size: $txt_sz_avg;
  }
  
  &__sz-sml {
    font-size: $txt_sz_sml;
  }
  
  &__sz-vsml {
    font-size: $txt_sz_vsml;
  }
  
  &__al-center {
    text-align: center !important;
  }
  
  &__al-left {
    text-align: left !important;
  }
  
  &__al-right {
    text-align: right !important;
  }
  
  &__al-justify {
    text-align: justify !important;
  }
  
  &__clr-black {
    color: $txt_clr_black;
  }
  
  &__clr-green {
    color: $txt_clr_green;
  }
  
  &__clr-gray {
    color: $txt_clr_gray;
  }
  
  &__clr-white {
    color: $txt_clr_white;
  }
  
  &__clr-red {
    color: $txt_clr_red;
  }
  
  &__st-bold {
    font-weight: bold !important;
  }
}