@import 'text';
@import 'clear';
@import 'reset';
@import 'globals/globals';
@import 'icon';
@import 'main-nav';
@import 'place-preview';
@import 'sign-in-out-popup/sign-in-out-popup';
@import 'places-search-form';
@import 'pagination/pagination';
@import 'place/place';
@import 'bottom-table-order-nav/bottom-table-order-nav';
@import 'comments';
@import 'top-tab-nav';
@import 'menu';
@import 'photo-gallery';
@import 'user-info';
@import 'user-settings';
@import 'user-stat';
@import 'reserve-table';
@import 'rating';
@import 'owner-panel';
@import 'place-create-form';
@import 'send-comment-form';
@import 'bad-browser';
@import 'order-article';
@import 'create-room-form';
@import 'rooms-panel';
@import 'room-article';
@import 'edit-room-panel';
@import 'table';
@import 'top-nav';
@import 'week-day';
@import 'create-complex';
@import 'create-dish';
@import 'add-img-form';
@import 'notify';
@import 'room';
.draggable {
	position: relative;
	width: 30px !important;
	height: 30px !important;
	background-size: cover;
	float: none;
	background-color: #123123;

}
