<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{placeUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">О нас</a>
  <a href="{{placeUrl}}menu" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Мено</a>
  <a href="{{placeUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__photo">Фото</a>
  <a href="{{placeUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__comments">Отзывы</a>
  <a href="{{placeUrl}}complex" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Обеды</a>
</nav>

<section class="b-photo-gallery">
  <figure class="b-photo-gallery_full-img"><img ng-src="{{fullImgUrl}}" alt=""></figure>
  
  <section class="b-photo-gallery_prev-wrap">
    <figure ng-repeat="prevData in galleryData" style="background: url({{prevData.prev}}) no-repeat center;" class="b-photo-gallery_img-prev" ng-click="showFullImg(prevData.id)"></figure>
  </section>
</section>