<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{ownerUrl}}index" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">Главная</a>
  <a href="{{ownerUrl}}place" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Заведение</a>
</nav>

<nav class="b-top-nav">
  <a href="{{ownerUrl}}stat" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Статистика</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
	<a href="{{ownerUrl}}rooms" dropdown-toggle class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комнаты</a>
	<ul class="dropdown-menu">
	  <a style="float:left; width: 100%;" href="{{ownerUrl}}rooms">Создать</a>
	  <a style="float:left; width: 100%;" href="{{ownerUrl}}rooms/edit">Изменить</a>
	</ul>
  </span>
  <a href="{{ownerUrl}}comments" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комментарии</a>
  <a href="{{ownerUrl}}photo" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Фото</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
	<a href="{{ownerUrl}}menu" dropdown-toggle class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Меню</a>
	<ul class="dropdown-menu">
	  <a style="float:left; width: 100%;" href="{{ownerUrl}}menu">Добавить блюдо</a>
	  <a style="float:left; width: 100%;" href="{{ownerUrl}}menu/edit">Управление меню</a>
	  <a style="float:left; width: 100%;" href="{{ownerUrl}}complex">Комплексные обеды</a>
	</ul>
  </span>
</nav>

<section class="b-owner-panel">
  <form class="b-add-img-form">
	<div class="b-add-img-form_label">Загрузить</div>
	<input file-model="imgUploadForm.file" type="file">
	<input ng-click="placeModel.editPreviewImage()" class="c-text__clr-white b-add-img-form_submit" type="submit" value="Загрузить фото заведения">
  </form>
  <form class="b-place-create-form c-text__sz-avg c-text__al-center c-text__clr-black">
	<label for="name" class="b-place-create-form_label">Название</label>
	<input ng-model="place.name" type="text" name="name" class="b-place-create-form_text-input">
	<label for="type" class="b-place-create-form_label">Тип</label>
	<select ng-model="place.type" name="type">
	  <option value="Ресторан">Ресторан</option>
	  <option value="Кафе">Кафе</option>
	</select>
	<label for="phones" class="b-place-create-form_label">Телефон</label>
	<input ng-model="place.phones" type="text" name="phones" class="b-place-create-form_text-input">
	<label for="address" class="b-place-create-form_label">Адрес</label>
	<input ng-model="place.address" type="text" name="address" class="b-place-create-form_text-input">
	<label for="cuisine" class="b-place-create-form_label">Кухня</label>
	<input ng-model="place.cuisine" type="text" name="cuisine" class="b-place-create-form_text-input">
		<div class="b-place-create-form_line-wrap"></div>
	<div class="b-place-create-form_line-wrap">
	  <label for="outdoors" class="b-place-create-form_label__ch-box">За городом?</label>
	  <input ng-model="place.outdoors" type="checkbox" name="outdoors" class="b-place-create-form_checkbox">
	  <div class="c-clr-fix"></div>
	</div>
	<div class="b-place-create-form_line-wrap">
	  <label for="parking" class="b-place-create-form_label__ch-box">Парковка</label>
	  <input ng-model="place.parking" type="checkbox" name="parking" class="b-place-create-form_checkbox">
	  <div class="c-clr_fix"></div>
	</div>
	<div class="b-place-create-form_line-wrap">
	  <label for="smoking" class="b-place-create-form_label__ch-box">Зал для курящих</label>
	  <input ng-model="place.smoking" type="checkbox" name="smoking" class="b-place-create-form_checkbox">
	  <div class="c-clr_fix"></div>
	</div>
	<div class="b-place-create-form_line-wrap">
		<label for="wifi" class="b-place-create-form_label__ch-box">WiFi</label>
	  <input ng-model="place.wifi" type="checkbox" name="wifi" class="b-place-create-form_checkbox">
	  <div class="c-clr_fix"></div>
		</div>

	<div class="b-place-create-form_line-wrap">
		<label for="avgBill" class="b-place-create-form_label">Средний чек</label>
		<input ng-model="place.avgBill" type="text" name="avgBill" class="b-place-create-form_text-input">
		</div>
		<div class="b-place-create-form_line-wrap">
	  <label for="descr" class="b-place-create-form_label">Описание</label>
	  <textarea ng-model="place.descr" name="descr" class="b-place-create-form_text-input"> </textarea>
		</div>
		<div class="b-place-create-form_line-wrap">
	  <label for="workTime" class="b-place-create-form_label">Время работы</label>
	  <input ng-model="place.workTime" type="text" name="workTime" class="b-place-create-form_text-input">
		</div>
		<div class="b-place-create-form_line-wrap">
	  <label for="avgBill" class="b-place-create-form_label">Средний чек</label>
	  <input ng-model="place.avgBill" type="text" name="avgBill" class="b-place-create-form_text-input">
	  </div>
		<div class="b-place-create-form_line-wrap">
	  <label for="gmap" class="b-place-create-form_label">Код gmap</label>
	  <input ng-model="place.gmap" type="text" name="gmap" class="b-place-create-form_text-input">
		</div>
	 <div class="b-place-create-form_line-wrap">
	  <input ng-click="placeModel.edit(place)" value="Изменить данные" type="submit" class="b-place-create-form_submit">
		</div>

  </form>
</section>
