<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{ownerUrl}}index" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">На главную</a>
  <a href="{{ownerUrl}}place" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Заведение</a>
  <a href="{{ownerUrl}}rooms" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Комнаты</a>
  <a href="{{ownerUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Комментарии</a>
  <a href="{{ownerUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Фото</a>
</nav>

<section class="b-photo-gallery">
  <div class="b-photo-gallery_full-img-wrap">
    <figure class="b-photo-gallery_full-img"><img ng-src="{{fullImgUrl}}" alt=""></figure>
  </div>
  
  <section class="b-photo-gallery_prev-wrap">
    <figure ng-repeat="prevData in galleryData" style="background: url({{prevData.prev}}) no-repeat center;" class="b-photo-gallery_img-prev" ng-click="showFullImg(prevData.id)"></figure>
  </section>
</section>