<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{ownerUrl}}index" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">Главная</a>
  <a href="{{ownerUrl}}place" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Заведение</a>
</nav>

<nav class="b-top-nav">
  <a href="{{ownerUrl}}stat" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Статистика</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
  <a href="{{ownerUrl}}rooms" class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комнаты</a>
  </span>
  <a href="{{ownerUrl}}comments" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Комментарии</a>
  <a href="{{ownerUrl}}photo" class="b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Фото</a>
  <span class="dropdown" dropdown on-toggle="toggled(open)">
  <a href="{{ownerUrl}}menu" dropdown-toggle class="dropdown-toggle b-top-nav_btn c-text__sz-sml c-text__al-center c-text__clr-black c-icon_tab__stat">Меню</a>
  <ul class="dropdown-menu">
	<a style="float:left; width: 100%;" href="{{ownerUrl}}menu">Управление меню</a>
	<a style="float:left; width: 100%;" href="{{ownerUrl}}complex">Комплексные обеды</a>
  </ul>
  </span>
</nav>

<section class="b-place">
  <section class="b-create-room-form">
	<label for="capacity" class="b-create-room-form_label">Вместимсть(Чел.)</label>
	<input ng-model="room.capacity" type="text" name="capacity"class="b-create-room-form_text">
	<label for="plan" class="b-create-room-form_label">План помещения(скан)</label>
	<input file-model="room.file" type="file" name="plan" class="b-create-room-form_file">
	<input ng-click="roomsPanel.addRoom(room)" type="submit" class="b-create-room-form_submit" value="Добавить комнату">
  </section>

  <section class="b-room">
	<div class="b-room_header">
	  <span class="b-room_header-info">Номер комнаты: {{roomsPanel.roomsList[roomsPanel.currRoom].number}}</span>
	  <span class="b-room_header-info">Вместимость: {{roomsPanel.roomsList[roomsPanel.currRoom].capacity}} человек</span>
	  <span style="float: right;" class="b-room_header-info">{{roomsPanel.roomsList[roomsPanel.currRoom].deleted == 1 ? 'Удалена' : ''}}</span>
	</div>
	<div class="b-room_main">
	  <figure class="b-room_scheme" style="background: url('//files.caffe.ru/files/places/{{placeId}}/rooms/{{roomsPanel.roomsList[roomsPanel.currRoom].number}}/scheme.jpg') no-repeat center;"><img ng-repeat="table in roomsPanel.tablesList" src="assets/img/dish-preview-sample.png" class="draggable" style="top: {{table.posY}}%; left: {{table.posX}}%;"></figure>
	  <div class="b-room_tables-list">
		<div class="b-table" ng-click="roomsPanel.addTable(roomsPanel.currRoom, 1)">
		  Столик на 1 персону
		</div>
		<div class="b-table" ng-click="roomsPanel.addTable(roomsPanel.currRoom, 2)">
		  Столик на 2 персоны
		</div>
		<div class="b-table" ng-click="roomsPanel.addTable(roomsPanel.currRoom, 4)">
		  Столик на 4 персон
		</div>
	  </div>
	  <div class="c-clr_fix"></div>
	</div>
	<div class="b-room_footer">
	  <a ng-click="roomsPanel.delete()" class="b-room_footer-btn">Удалить</a>
	  <a ng-click="roomsPanel.reestablish()" class="b-room_footer-btn">Восстановить</a>
	  <a ng-click="roomsPanel.next()" class="b-room_footer-btn">След. комната</a>
	  <a ng-click="roomsPanel.prev()" class="b-room_footer-btn">Пред. комната</a>
	  <a ng-click="roomsPanel.save()" class="b-room_footer-btn b-room_footer-btn__save">Сохранить изменения</a>
	</div>
  </section>
</section>
