<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{userUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__profile">Профиль</a>
  <a href="{{userUrl}}stat" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Статистика</a>
  <a href="{{userUrl}}settings" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__settings">Настройки</a>
</nav>

<section class="b-user-settings">
  <form class="b-user-settings_form">
   <lable for="old-pass">Введите старый пароль:</lable>
    <input ng-model="passChangeForm.oldPass" class="c-box-sz_bd-box" type="text" name="old-pass" pattern="^((\d)|(\w)){5,18}$">
    <lable for="new-pass">Введите новый пароль:</lable>
    <input ng-model="passChangeForm.newPass" class="c-box-sz_bd-box" type="text" name="new-pass" pattern="^((\d)|(\w)){5,18}$">
    <lable for="rep-pass">Повторите новый пароль:</lable>
    <input ng-model="passChangeForm.repeatedPass" class="c-box-sz_bd-box" type="text" name="rep-pass" pattern="^((\d)|(\w)){5,18}$">
    <input ng-click="passChangeForm.change()" type="submit" value="Изменить">
  </form>
</section>