<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{placeUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__about">О нас</a>
  <a href="{{placeUrl}}menu" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Мено</a>
  <a href="{{placeUrl}}photo" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__photo">Фото</a>
  <a href="{{placeUrl}}comments" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__comments">Отзывы</a>
  <a href="{{placeUrl}}complex" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__menu">Обеды</a>
</nav>
    
<section class="b-comment">
   <form>
     <input ng-model="comment.text" type="text" name="text">
     <label for="state">Понравилось?</label>
     <input ng-model="comment.state" type="checkbox" name="state" value="true">
     <input ng-click="send(comment)" type="submit">
   </form>
  <article ng-repeat="comment in commentsList" class="b-comment_item">
    <div class="b-comment_uname c-box-sz_bd-box c-text__sz-big c-text__al-left c-text__clr-white">{{comment.firstName}} {{comment.lastName}}</div>
    <div class="b-comment_state c-text__sz-big c-text__al-center {{comment.state ? 'b-comment_state__like' : 'b-comment_state__dislike'}}">{{comment.state ? 'Понравилось' : 'Не понравилось'}}</div>
    <div class="c-clr_fix"></div>
    <div class="b-comment_text c-box-sz_bd-box c-text__sz-avg c-text__al-left c-text__clr-black">{{comment.text}}</div>
    <div class="b-comment_pub-date c-text__sz-avg c-text__al-right c-text__clr-black">{{comment.pubDate}}</div>
  </article>
<div class="c-clr_fix"></div>
</section>