<nav class="b-top-tab-nav c-box-sz_bd-box">
  <a href="{{userUrl}}about" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__profile">Профиль</a>
  <a href="{{userUrl}}stat" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__stat">Статистика</a>
  <a href="{{userUrl}}settings" class="b-top-tab-nav_btn c-text__sz-avg c-text__al-center c-text__clr-white c-icon_tab__settings">Настройки</a>
</nav>

<section class="b-user-settings">
  <form class="b-user-settings_form">
   <lable for="old-phone">Ваше имя:</lable>
	<input ng-model="unameChangeForm.firstName" class="c-box-sz_bd-box" type="text" name="old-phone">
	<lable for="new-phone">Ваша фамилия:</lable>
	<input ng-model="unameChangeForm.lastName" class="c-box-sz_bd-box" type="text" name="new-phone">
	<input ng-click="unameChangeForm.change()" type="submit" value="Изменить">
  </form>
</section>
